{% load static %}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="google-site-verification" content="eJB8k7CrqoIAVoMYYnSObaw6CwUUvuU6FkTBmvskcNU"/>
	<title>毒鸡汤 - 一碗醍醐，两碗灌顶，三碗治愈各种矫情</title>
	<meta name="description" content="精心熬制，句句“治愈”人心! 只为了帮你认识自己，看清人生，毕竟人生苦短都没苦笑过有什么意思！">
	<meta name="keywords" content="鸡汤,毒鸡汤,馊鸡汤">
	<meta name="robots" content="all">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="author" content="icoker@qq.com"/>
	<meta property="og:title" content="毒鸡汤 - 先干为敬！"/>
	<meta property="og:url" content="https://thesouls.fun/"/>
	<meta property="og:image" content="https://thesouls.fun/icon.png"/>
	<meta property="og:site_name" content="毒鸡汤 - 干了这碗，还有三碗！！！"/>
	<meta property="og:description" content="精心熬制了,句句“治愈”人心! 只为了帮你更好的认识自己，看清人生，毕竟人生苦短都没苦笑过有什么意思！"/>
	<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" id="page_favicon">
	<link href="{% static 'img/min.css' %}" rel="stylesheet">
	<link rel="alternate icon" type="image/png" href="{% static 'img/icon.png' %}">
</head>
<body>
<div class="top-wrap" style="position: absolute; top: 1vh;width: 100%;z-index: 999">
<div class="container">
	<div class="row" style="margin-top: 30px;">
	    <div class="col">
	      <img src="{% static 'img/logo.png' %}">
	    </div>
	</div>
</div>
</div>

<div class="main-wrapper" style="position: relative; bottom:-40.4vh; width:100%">
<div class="container main-sentence justify-content-center text-center">
<!--	    {% for soul_text in soul_text %}--
<!--    <span id="sentence" style="font-size: 1.9rem;">{{ soul_text }}</span>-->
<!--	    {% endfor %}-->

	<form method="post">
    {% csrf_token %}
    <input type="text" class="btn disabled btn-primary btn-md" style="border:1px solid #378888; width:60%; color:#000000; font-size:15px;
" name="context">
		<br></br>
		<a class="btn btn-primary btn-filled btn-sm" style="margin-right:6%" href="https://thesouls.fun/">再干一碗</a>
    <input class="btn btn-primary btn-filled btn-sm" type="submit" value="留下这碗">


</form>
	</div>

</div>

<div style="display:none;">
<script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1278233001&web_id=1278233001"></script>
</div>
</body>
</html>